extends layout

block menu
    include menu.pug

block content
    div.card
        div.card-body
            h3= question.question

            if isCorrect
                div.alert.alert-success(role="alert") Congratulations, you supplied Electricity!
                    h2=question.answer

                h3
                    i.fa.fa-globe.btn.btn-success &nbsp;&nbsp;+1 rope to you Network's Supply
                    span &nbsp;
                    i.fa.fa-bolt.btn.btn-warning &nbsp;&nbsp;+2 Electricity to your Power Plant&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            else
                div.alert.alert-warning(role="alert") Incorrect response.
                    h2 Keep empowering your mind!