extends layout

block menu
    include menu.pug

block content
    div.sky.container-fluid
        nav.navbar.navbar-light.bg-transparent
            div
                ul.nav
                    li.nav-item
                        a.nav-link.city-icon(href="#")
                            span GAMeD City
                    li.nav-item
                        a.nav-link.city-icon(href="#", alt="Energy")
                                i.fa.fa-bolt
                                span  150
                    li.nav-item
                        a.nav-link.city-icon(href="#", alt="Ropes")
                                i.fa.fa-retweet
                                span 10                                
        canvas(width=600, height=400, id="cityCanvas")        
    script.        
        $(document).ready(function () {
            init(0, true);     
            init(1, false);       
        });