extends layout

block content
    div.panel
        p here
        button(type=button class='btn btn-primary') Primary

        div.spinner-border.text-primary(role="status")
            span.sr-only Loading...