doctype html
html
    head
        title= `${title}`
        link(rel='stylesheet', href='/bootstrap/bootstrap.min.css')
        link(rel='stylesheet', href='/bootstrap/bootstrap.min.js')
        link(rel='stylesheet', href='/bootstrap/jquery-3.3.1.slim.min.js')
        link(rel='stylesheet', href='/bootstrap/popper.min.js')

    body
        div.container-fluid
            h1 Electricity App

            block content