doctype html
html
    head
        title= `${title}`
        link(rel='stylesheet', href='/bootstrap/bootstrap.min.css')
        link(rel='stylesheet', href='/worlds/worlds.css')
        link(rel='stylesheet', href='/css/styles.css')
        link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.7.0/css/all.css', integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ', crossorigin='anonymous')
        script(src='/bootstrap/jquery-3.3.1.slim.min.js')
        script(src='/bootstrap/bootstrap.min.js')        
        script(src='/bootstrap/popper.min.js')  
        script(src="/city-builder/createjs.min.js")
        script(src="/city-builder/tweenjs.min.js")
        script(src="/city-builder/ColorPlugin.js")
        script(src='/city-builder/constants.js')      
        script(src='/city-builder/buildings.js')        
        script(src='/city-builder/drawer.js')        
        script(src='/city-builder/canvas.js')        
        script(src='/worlds/core.js')        
        script(src='/worlds/maps.js')        
        script(src='/worlds/worldLow.js')  
        script(src='/worlds/frozen.js') 
        script(src='/worlds/animated.js') 
    body
        div.container-fluid        
            block menu

            div.main-content
                block content