block menu
    nav.navbar.navbar-expand-lg.navbar-light.bg-light
                a.navbar-brand(href="/")
                    img.d-inline-block.align-top(src="/img/logo.png")
                button.navbar-toggler(type="button",data-toggle="collapse",data-target="#navbarSupportedContent",aria-controls="navbarSupportedContent",aria-expanded="false",aria-label="Toggle navigation")
                    span.navbar-toggler-icon
                div.collapse.navbar-collapse.justify-content-end(id="navbarSupportedContent")
                    ul.navbar-nav
                        li.nav-item
                            a.nav-link(href="/my-city", alt="My City")
                                i.fa.fa-building
                        li.nav-item
                            a.nav-link(href="/cities", alt="Cities")
                                i.fa.fa-globe
                        li.nav-item
                            a.nav-link(href="/ask-electricity", alt="Ask Electricity")
                                i.fa.fa-bolt
                        li.nav-item
                            a.nav-link(href="/my-ropes", alt="My Ropes")
                                i.fa.fa-retweet
                        li.nav-item
                            a.nav-link(href="/new-building", alt="New Building")
                                i.fa.fa-plus-circle