body {
    background: #005cbf;
    
}

.main-content {    
    background: #FFF;
}

.sky {
    background-image: url('../img/sky.jpg');
    background-repeat: no-repeat;
    background-position: bottom center;
}

#cityCanvas {
}